version: 2

defaults: &defaults
    working_directory: ~/shop-apotheke-app
    docker:
        - image: circleci/node:13-browsers

workflows:
    version: 2
    test:
        jobs:
            - checkout_code
            - npm_install:
                  requires:
                      - checkout_code
            - lint:
                  requires:
                      - npm_install
            - test:
                  requires:
                      - npm_install
            - build:
                  requires:
                      - lint
                      - test
            - report_coverage:
                  requires:
                      - test

jobs:
    checkout_code:
        <<: *defaults
        steps:
            - checkout
            - persist_to_workspace:
                name: Save repository
                root: "~"
                paths:
                  - shop-apotheke-app

    npm_install:
        <<: *defaults
        steps:
            # - run:
            #     name: Avoid hosts unknown for github
            #     command: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
            # - run:
            #     name: Login to private npm registry
            #     command: npm set //npm.pkg.github.com/:_authToken=$GITHUB_NPM_TOKEN
            - attach_workspace:
                name: Restore repository
                at: "~"
            - run:
                name: Install project dependencies
                command: npm ci
            - persist_to_workspace:
                name: Save dependencies
                root: "~"
                paths:
                    - shop-apotheke-app/node_modules
                    - .ssh

    lint:
        <<: *defaults
        steps:
            - attach_workspace:
                name: Restore workspace
                at: "~"
            - run:
                name: Lint app
                command: npm run lint
            - run:
                name: Lint styles
                command: npm run stylelint

    test:
        <<: *defaults
        steps:
            - attach_workspace:
                name: Restore workspace
                at: "~"
            - run:
                name: Run tests
                command: npm test
            - persist_to_workspace:
                name: Save test coverage
                root: "~"
                paths:
                    - shop-apotheke-app/coverage
    build:
        <<: *defaults
        steps:
            - attach_workspace:
                name: Restore workspace
                at: "~"
            - run:
                name: Build app
                command: npm run build

    # report_coverage:
    #     <<: *defaults
    #     steps:
    #         - attach_workspace:
    #             name: Restore workspace
    #             at: "~"
    #         - run:
    #             name: Login to private github npm registry
    #             command: npm set //npm.pkg.github.com/:_authToken=$GITHUB_NPM_TOKEN
    #         - run:
    #             name: Install coverage_sampler
    #             command: npm i @acomodeo/coverage-sampler
    #         - run:
    #             name: Parse coverage report
    #             command: npx coverage-sampler --repository $CIRCLE_PROJECT_REPONAME --branch $CIRCLE_BRANCH istanbul < coverage/coverage-summary.json > coverage-samples.prom
    #         - run:
    #             name: Upload samples
    #             command: curl --data-binary @coverage-samples.prom -u $PROMETHEUS_PUSHGATEWAY_USERNAME:$PROMETHEUS_PUSHGATEWAY_PASSWORD $PROMETHEUS_PUSHGATEWAY_URL/repository/$CIRCLE_PROJECT_REPONAME/branch/$CIRCLE_BRANCH
